<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://10.0.1.50:3306/deneme</property>
        <property name="hibernate.connection.username">deneme</property>
        <property name="hibernate.connection.password">1Qaz2wsx!!</property>
        <property name="hibernate.connection.pool_size">1</property>
        <property name="hibernate.current_session_context_class">thread</property>
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.hbm2ddl.auto">update</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL8Dialect</property>

        <mapping class="com.uniyaz.core.domain.Urun"></mapping>
        <mapping class="com.uniyaz.core.domain.Musteri"></mapping>
        <mapping class="com.uniyaz.core.domain.MusteriUrun"></mapping>
    </session-factory>
</hibernate-configuration>